<section>
    <h3>Welcome</h3>
    <p>
        This is a proof-of-concept app for issuing diplomas for students as NFTs.
    </p>
    <p>
        This project assumes that you connect with the college's crypto wallet and issue the diplomas to students' wallets which you have collected 
        from them beforehand.
    </p>
    <p>
        All of the diplomas and money used here are not real and are not ment to be real. Please don't sue me for forgering valuable documents, thank you.
    </p>
    <p>
        You can read more in the course work itself. Have fun with the app! (ﾉ◕ヮ◕)ﾉ*:･ﾟ✧
    </p>

    <button (click)="connectWallet()">Connect the college wallet!</button>
</section>>
