<section>
  <h3>Succesfully sent the NFT</h3>
  <p>
      Congratulations! You have just succesfully minted a diploma NFT and sent it to your student.
  </p>
  <p>
      <!-- The links here are populated in the production Mumbai Testnet build. The code in this branch is for local use. -->
      The token was succesfully sent from <a href="">{{ collegeAddress }}</a> to <a href="">{{ studentAddress }}</a>
  </p>
  
  <p *ngIf="tokenURI$ | async as tokenURI; else loadingBlock">
    Token URI: {{ tokenURI }}
  </p>
  <a class="open-sea-link"
     href="https://testnets.opensea.io/assets/mumbai/{{ contractAddress }}/{{ tokenId }}">View it on OpenSea</a>

  <button (click)="backToMint()">Back to mint</button>
</section>

<ng-template #loadingBlock>
  <p>Loading...</p>>
</ng-template>